.advantages {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: @white;
  color: @black;
  padding-top: 36px;
  padding-bottom: 8px;
}

.advantages__item {
  padding-left: 69px;
  padding-right: 11px;
  padding-bottom: 12px;
  position: relative;
}

.advantages__title {
  padding: 0;
  margin: 0;
  padding-bottom: 15px;
  font-family: @font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.advantages__item::before {
  position: absolute;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}

.advantages__item--house::before {
  top: -11px;
  left: 20px;
  width: 39px;
  height: 37px;
  background-image: url("../img/icon/icon-house.svg");
}

.advantages__item--burger::before {
  left: 19px;
  top: -7px;
  width: 40px;
  height: 36px;
  background-image: url("../img/icon/icon-burger.svg");
}

.advantages__item--gift::before {
  left: 25px;
  top: -13px;
  width: 32px;
  height: 38px;
  background-image: url("../img/icon/icon-gift.svg");
}

.advantages__description {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 15px;
  padding-right: 10px;
}

@media (min-width: @tablet-width) {
  .advantages {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 330px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    align-items: center;
  }

  .advantages__title {
    font-size: 21px;
  }

  .advantages__item {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .advantages__item--burger::before {
    left: 90px;
    top: -85px;
    width: 76px;
    height: 67.9px;
  }

  .advantages__item--house::before {
    left: 91px;
    top: -85px;
    width: 75px;
    height: 72px;
  }

  .advantages__item--gift::before {
    left: 96px;
    top: -95px;
    width: 64px;
    height: 75px;
  }
}
