.advantages {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  color: #000000;
}

.advantages__title {
  padding: 0;
  margin: 0;
}

.advantages__description {
  padding: 0;
  margin: 0;
}
