.copyright {
  padding: 0;
  margin: 0;
  padding-right: 119px;
  padding-left: 82px;
}

.copyright__text {
  padding: 0;
  margin: 0;
  font-family: @font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.copyright__link {
  padding: 0;
  margin: 0;
  position: relative;
}

.copyright__link::before {
  position: absolute;
  content: "";
  width: 26.9px;
  height: 34.1px;
  background: url("../img/logo/logo-htmlacademy.svg") no-repeat left top;
  top: -9px;
  left: 13px;
}
