.find {
  background: @white;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 28px;
}

.find__title {
  padding: 0;
  margin: 0;
  font-family: @font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @black;
  padding-bottom: 21px;
}

.find__text {
  padding: 0;
  margin: 0;
  font-family: @font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: @light-black;
}

.find__br {
  display: none;
}

@media (min-width: @tablet-width) {
  .find {
    width: 435px;
    min-height: 107px;
    margin: 0 auto;
    margin-bottom: 39px;
  }

  .find__title {
    font-size: 30px;
    padding-bottom: 33px;
  }

  .find__br {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .find__text {
    margin-bottom: 45px;
  }
}
