.footer {
  text-align: center;
}


@media (min-width: @tablet-width) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 60px;
    margin-right: 63px;
    margin-top: 36px;
  }
}
