.form {
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 45px;
}

.form div::before {
  content: "";
    display: block;
    height: 1px;
    background-color: #d6d6d6;
}

@media (min-width: @tablet-width) {
  .form {
    padding-right: 60px;
    padding-left: 60px;
    margin-bottom: 60px;
  }
}
