.form {
  margin-bottom: 77px;
}

.form__block {
  padding: 0 21px 0 19px;
  border-top: 1px solid #e5e5e5;
  margin-bottom: 39px;
}

@media (min-width: @tablet-width) {
  .form {
    margin-bottom: 60px;
  }

  .form__block {
    padding: 0 60px 0 61px;
    border: none;
  }
}
