.gallery {
  padding: 0;
  margin: 0 0 50px;
}

.gallery__list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.gallery__item {
  padding: 0;
  margin: 0 0 16px;
}

.gallery__item::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #d6d6d6;
}

.gallery__img {
  display: block;
  width: 100%;
  padding-bottom: 11px;
  padding-top: 22px;
}

.gallery__title {
  padding: 0;
  margin: 0;
  font-family: @font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: @black;
}

.gallery__author {
  padding: 0;
  margin: 0;
  font-family: @font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @light-black;
  padding-bottom: 13px;
}

.gallery__like {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: @font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  padding-left: 37px;
  text-transform: uppercase;
  color: @black;
}

.gallery__svg {
  position: absolute;
  display: block;
  fill: rgba(0, 0, 0, 0.3);
  width: 23px;
  height: 21px;
  top: 0;
  left: 0;
}

@media (min-width: @tablet-width) {
  .gallery {
    display: grid;
    margin: 0 0 57px;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 60px;
    padding-right: 60px;
  }

  .gallery__title {
    width: 180px;
  }

  .gallery__author {
    width: 120px;
  }

  .gallery__item {
    padding: 0;
    margin: 0;
  }

  .gallery__block {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .gallery__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #f2f2f2;
  }

  .gallery__info--first {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 15px 10px 4px 20px;
  }

  .gallery__info--second {
    display: flex;
    align-items: center;
    padding-right: 30px;
    padding-top: 14px;
    padding-bottom: 10px;
  }

  .gallery__info--big {
    padding-right: 21px;
  }

  .gallery__info--tablet {
    padding-right: 35px;
  }

  .gallery__like {
    padding: 0 0 0 32px;
  }

  .gallery__item::before {
    display: none;
  }

  .gallery__img {
    padding: 0;
    margin: 0;
  }

  .gallery__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .gallery {
    max-width: 1200px;
    margin: 0 auto 60px;
  }

  .gallery__list {
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gallery__item {
    position: relative;
  }

  .gallery__title {
    color: #ffffff;
  }

  .gallery__author {
    color: #ffffff;
  }

  .gallery__like {
    color: #ffffff;
  }

  .gallery__info {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    height: 80px;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
  }

  .gallery__svg {
    fill: #ffffff;
  }

  .gallery__block {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
