.hotel {
  padding: 0;
  margin: 0;
  margin-bottom: 47px;
}

.hotel__button {
  padding: 14.5px 47px 17.5px 47px;
  margin: 0 0 47px;
}

.hotel__button {
  padding: 14.5px 47px 17.5px;
  margin: 0 20px;
}

@media (min-width: @tablet-width) {
  .hotel {
    margin-bottom: 58px;
  }

  .hotel__button {
    padding: 0;
    width: 458px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 17px
  }
}
