.information__title {
  padding: 0;
  margin: 0;
  font-family: @font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @black;
  padding-bottom: 16px;
}

.information__form {
  padding: 0;
  margin: 0;
}

.information__label {
  padding: 0;
  margin: 0;
  font-family: @font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: @light-black;
}

.information__input {
  border: none;
  width: 100%;
  height: 58px;
  background: #f2f2f2;
  color: #000000;
}

.information__input:hover {
  background: #E5E5E5;
}

.information__input:focus {
  background: #FFFFFF;
  border: 4px solid #E5E5E5;
  box-sizing: border-box;
  mix-blend-mode: normal;
  outline: none;
}

.information__input::placeholder {
  font-family: @font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
@media (min-width: @tablet-width) {
  .information__title {
    font-size: 21px;
  }
}
