.information__title {
  padding: 0;
  margin: 0;
  font-family: @font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @black;
  padding-bottom: 16px;
}

.information__form {
  padding: 0;
  margin: 0;
}

.information__form {
  padding: 0;
  margin: 0;
}

.information__label {
  padding: 0;
  margin: 0;
  font-family: @font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: @light-black;
  padding-left: 22px;
}

.information__input {
  border: none;
  width: 100%;
  background: @smoky-white;
  color: @black;
  margin-top: 9px;
  margin-bottom: 13px;
  padding-left: 21px;
  padding-top: 24px;
  padding-bottom: 18px;
}

@media (min-width: @tablet-width) {
  .information__title {
    font-size: 21px;
  }
}
