.location-feedback {
  padding: 0;
  margin: 0;
  padding-left: 8px;
  padding-right: 7px;
  margin-top: 36px;
  margin-bottom: 17px;
}

.location-feedback__title {
  padding: 0;
  margin: 0;
  font-family: @font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @black;
  padding-bottom: 28px;
}

.location-feedback__text {
  padding: 0;
  margin: 0;
  font-family: @font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: @light-black;
  padding-left: 14px;
  padding-right: 14px;
}

@media (min-width: @tablet-width) {
  .location-feedback {
    padding: 0;
    width: 435px;
    min-height: 107px;
    margin: 0 auto;
  }

  .location-feedback__title {
    padding: 0;
    margin: 0;
    font-size: 30px;
  }

  .location-feedback__text {
    padding: 0;
    margin: 0;
  }
}
