.present {
  margin-bottom: 27px;
}

.present__title {
  padding: 0;
  margin: 0;
  font-family: @font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 21px;
}

.present__form {
  padding: 0;
  margin: 0;
  padding-bottom: 17px;
  display: flex;
  align-items: center;
}

.present__label {
  display: block;
  padding: 0;
  margin: 0;
  font-family: @font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
  margin-right: 13px;

}

.present__input {
  border: none;
  width: 100%;
  height: 58px;
  background: #f2f2f2;
  color: #000000;
  padding-left: 22px;
}

.present___input:hover {
  background: #e5e5e5;
}

.present__input::placeholder {
  font-family: @font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .present__title {
    font-size: 21px;
  }
}
