.present {
  margin-bottom: 3px;
}

.present__title {
  padding: 0;
  margin: 0;
  font-family: @font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 21px;
  padding-top: 20px;
}

.present__form {
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

.present__label {
  display: block;
  padding: 0;
  margin: 0;
  font-family: @font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
  margin-right: 13px;
}

.present__input {
  display: flex;
  width: 100%;
  height: 58px;
  font-family: @font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  border: 4px solid #f2f2f2;
  box-sizing: border-box;
  background: #f2f2f2;
  color: #000000;
  padding-left: 20px;
}

.present__input:hover {
  background: #e5e5e5;
  border: 4px solid #e5e5e5;
}

.present__input:focus {
  background: #ffffff;
  border: 4px solid #e5e5e5;
  box-sizing: border-box;
  outline: none;
}

@media (min-width: @tablet-width) {
  .present {
    margin: 0;
    padding-left: 58px;
  }


  .present__title {
    padding: 0;
    font-size: 21px;
    text-align: start;
    padding-bottom: 56px;
  }
}

@media (min-width: @desktop-width) {
  .present {
    padding-left: 79px;
  }
}
