.promo {
  text-align: center;
  background: #cccccc url("../img/bg/bg-back-mobile@1x.jpg") no-repeat center 0;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 80px;
  padding-left: 13px;
  margin-bottom: 31px;
}
