.reasons {
  padding: 0;
  margin: 0 0 33px;
}

.reasons__item {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #eeeeee;
  color: #000000;
  font-family: @font-family;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-top: 26px;
  padding-left: 35px;
  padding-right: 35px;

  &::after {
    padding: 0;
    margin: 0;
    content: "";
    display: block;
    height: 1px;
    background-color: #d6d6d6;
  }
}

.reasons__item:last-child::after {
  display: none;
}

.reasons__item--blue {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 0;
  margin: 0;
  padding-top: 39px;

  &::after {
    display: none;
  }
}

.reasons__item--blue-1 {
  padding-top: 70px;
  position: relative;
}

.reasons__item--blue-1::before {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background: url("../img/bg/bg-triangle.svg") no-repeat center top;
  height: 37px;
  width: 100%;
}

.reasons__title {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 11px;
}

.reasons__number {
  padding: 0;
  margin: 0;
  text-align: center;
  color: #333333;
  padding-bottom: 17px;
}

.reasons__item--blue .reasons__number {
  color: #ffffff;
}

.reasons__text {
  padding: 0;
  margin: 0;
  text-align: center;
  color: #333333;
  padding-bottom: 24px;
}

.reasons__item--blue .reasons__text {
  color: #ffffff;
  padding-bottom: 35px;
  padding-left: 8px;
  padding-right: 8px;
}

.reasons__item--blue-1 .reasons__text {
  color: #ffffff;
  padding-bottom: 40px;
  padding-left: 8px;
  padding-right: 8px;
}

.reasons__block-img {
  height: 260px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #81b3d2;
  background-size: cover;
}

.reasons__block-img--city {
  background-image: url("../img/main/main-city-mobile@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main/main-city-mobile@2x.webp");
  }
}

.reasons__block-img--bridge {
  background-image: url("../img/main/main-bridge-mobile@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main/main-bridge-mobile@2x.webp");
  }
}

.reasons__img {
  display: block;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .reasons {
    display: grid;
  }

  .reasons__item--blue-1::before {
    background: none;
  }

  .reasons__wrapper {
    padding: 0;
    margin: 0;
    min-height: 256px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    justify-content: center;
    background: #eeeeee;
  }

  .reasons__item {
    margin: 0;
    padding: 42px 39px 26px;

    &::after {
      display: none;
    }
  }

  .reasons__item--fourth {
    padding: 42px 54px 26px;
  }

  .reasons__item--fifth {
    padding: 42px 55px 26px;
  }

  .reasons__title {
    font-size: 21px;
  }

  .reasons__title--second {
    padding: 0 23px 12px;
  }

  .reasons__number {
    padding-bottom: 23px;
  }

  .reasons__item--blue {
    padding: 0;
    margin: 0;
  }

  .reasons__block-img {
    height: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #81b3d2;
    background-size: cover;
  }

  .reasons__block-img--city {
    background-image: url("../img/main/main-city-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main/main-city-tablet@2x.webp");
    }
  }

  .reasons__block-img--bridge {
    order: -1;
    background-image: url("../img/main/main-bridge-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main/main-bridge-tablet@2x.webp");
    }
  }

  .reasons__item--blue-1 {
    padding: 0;
    margin: 0;
  }

  .reasons__text {
    padding: 0;
    margin: 0;
  }

  .reasons__blocks {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 33.4% 66.6%;
  }

  .reasons__blocks--second {
    grid-template-columns: 66.7% 33.3%;
  }

  .reasons__block--blue {
    padding: 41px 24px 5px;
  }

  .reasons__block--blue-2 {
    padding: 43px 30px 7px;
  }
}

@media (min-width: @desktop-width) {
  .reasons__block-img--city {
    background-image: url("../img/main/main-city-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main/main-city-desktop@2x.webp");
    }
  }

  .reasons__block-img--bridge {
    background-position: top center;
    background-image: url("../img/main/main-bridge-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main/main-bridge-desktop@2x.webp");
    }
  }

  .reasons__title {
    padding: 0 70px 12px;
  }

  .reasons__title--second {
    padding: 0 42px 12px;
  }

  .reasons__item {
    margin: 0;
    padding: 42px 50px 26px;
  }

  .reasons__item--blue {
    padding: 0;
    margin: 0;
  }

  .reasons__item--fourth {
    padding: 42px 70px 26px;
  }

  .reasons__block--blue {
    padding: 46px 60px 20px;
  }

  .reasons__block--blue-2 {
    padding: 50px 83px 21px;
  }
}
