.reasons {
  padding: 0;
  margin: 0;
}

.reasons__item {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #EEEEEE;
  color: #000000;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-top: 20px;

  &::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #d6d6d6;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.reasons__item--blue {
  background-color: #81B3D2;
  color: #ffffff;
}

.reasons__title {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-family: "PTSansB", "Arial", sans-serif;
  text-align: center;
}

.reasons__number {
  padding: 0;
  margin: 0;
  text-align: center;
}

.reasons__text {
  padding: 0;
  margin: 0;
  padding-left: 26px;
  padding-right: 26px;
  text-align: center;
  margin-bottom: 20px;
}
