.site-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-list__item {
  background: #81B3D2;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.site-list__link {
  display: block;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 3px;
  font-family: "PTSans", "Arial", sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #81B3D2;
}
