.social {
  padding-left: 70px;
  padding-right: 85px;
  padding-bottom: 45px;
}

.social__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  width: 150px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 46px;
  height: 48px;
  background: #81B3D2;
  color: inherit;
}

.social__link::after {
  content: "";
  display: block;
}

.social__link--twitter::after {
  width: 17.5px;
  height: 14.6px;
  background: url("../img/icon/icon-twitter.svg") no-repeat;
}

.social__link--facebook::after {
  width: 8.7px;
  height: 18.9px;
  background: url("../img/icon/icon-facebook.svg") no-repeat;
}

.social__link--youtube::after {
  width: 19.91px;
  height: 14px;
  background: url("../img/icon/icon-youtube.svg") no-repeat;
}
