.social {
  display: flex;
  justify-content: center;
  padding-bottom: 33px;
}

.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social__item {
  padding-bottom: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 46px;
  height: 48px;
  background: @blue;
  color: inherit;
}

.social__link:hover {
  background: #669ec0;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.social__link:active {
  background: #5496bd;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.social__svg {
  content: "";
  display: block;
  fill: #ffffff;
}

.social__svg--twitter {
  width: 17.5px;
  height: 14.6px;
}

.social__svg--facebook {
  width: 8.7px;
  height: 18.9px;
}

.social__svg--youtube {
  width: 19.91px;
  height: 14px;
}

.social__svg:active {
  opacity: 0.3;
}


@media (min-width: @tablet-width) {
  .social {
    margin-right: 10px;
  }
}
