.video {
  display: block;
  width: 100%;
  min-height: 201px;
  mix-blend-mode: normal;
  text-align: center;
  background: #cccccc url("../img/video/video-mobile@1x.jpg") no-repeat center 0;
  background-size: cover;
}

.video__filter {
  width: 100%;
}

.video__controls {
  position: relative;
  height: 41px;
  margin-bottom: 11px;
  padding-top: 41px;
  padding-right: 19px;
  padding-left: 20px;
  background-color: #000000;
  border-radius: 5px;
  opacity: 0.6;
}

.video__scale {
  width: 100%;
  height: 2px;
  background: #ffffff;
  opacity: 0.2;
}

.video__bar {
  width: 70%;
  height: 2px;
  background: #ffffff;
  opacity: 0.2;
}
