.video {
  padding-bottom: 60px;
  margin-bottom: 84px;
}

.video__title {
  padding: 0;
  margin: 0;
  font-family: @font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @black;
  padding-bottom: 27px;
}

.video__text {
  padding: 0;
  margin: 0;
  font-family: @font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: @light-black;
  padding-left: 28px;
  padding-right: 25px;
  padding-bottom: 34px;
}

.video__container {
  position: relative;
}

.video__img {
  display: block;
  width: 100%;
}

.video__player {
  position: absolute;
  height: 66px;
  left: 20px;
  bottom: 0;
  margin-bottom: -66px;
  width: calc(100% - 40px);
  background: #f2f2f2;
}

.video__controls {
  position: absolute;
  width: calc(100% - 40px);
  height: 24px;
  transform: translateY(-100%);
  left: 0;
  top: 0;
  background: #000000;
  opacity: 0.6;
  padding: 11px 20px 10px;
}

.video__scale {
  height: 3px;
  background: #ffffff;
  opacity: 0.2;
  margin-top: 11px;
  margin-left: 2px;
  margin-right: 3px;
}

.video__toggle {
  position: absolute;
  top: 18px;
  left: 58px;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 4px solid #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.video__svg {
  display: block;
  position: relative;
  cursor: pointer;
}

.video__svg svg {
  max-width: 100%;
  max-height: 100%;
  fill: #5c6870;
}

.video__svg:focus {
  outline: none;
}

.video__svg:focus svg {
  fill: #333333;
}

.video__svg:hover svg {
  fill: #333333;
}

.video__svg:active svg {
  fill: rgba(51, 51, 51, 0.3);
}

.video__svg--subtitles {
  width: 32px;
  height: 20px;
  left: 55.2%;
  transform: translateX(59%);
  top: 23px;
}

.video__svg--replay {
  width: 16px;
  height: 20px;
  left: 9%;
  top: 2px;
}

.video__svg--fullscreen {
  width: 20px;
  height: 20px;
  left: 78.5%;
  transform: translateX(83%);
  top: -17px;
}

@media (min-width: @tablet-width) {
  .video {
    margin: 0;
    padding-bottom: 41px;
  }

  .video__block {
    width: 445px;
    min-height: 119px;
    margin: 0 auto 68px;
  }

  .video__title {
    padding: 0;
    margin: 0;
    font-size: 30px;
    margin-bottom: 33px;
  }

  .video__text {
    padding: 0;
    margin: 0;
  }

  .video__container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 60px;
  }

  .video__player {
    height: 92px;
    margin-bottom: 0;
    background: transparent;
    left: 60px;
    width: calc(100% - 120px);
  }

  .video__controls {
    transform: translateY(0);
    height: 42px;
    padding: 33px 20px 17px;
  }

  .video__scale {
    max-width: 540px;
    margin-top: 11px;
    margin-left: 73px;
    margin-right: 145px;
  }

  .video__toggle {
    top: 41px;
    left: 206px;
  }

  .video__svg svg {
    fill: #ffffff;
  }

  .video__svg:focus svg {
    fill: rgba(255, 255, 255, 0.6);
  }

  .video__svg:hover svg {
    fill: rgba(255, 255, 255, 0.6);
  }

  .video__svg:active svg {
    fill: rgba(255, 255, 255, 0.3);
  }

  .video__svg--subtitles {
    left: 77.2%;
    transform: translateX(74%);
    top: 36px;
  }

  .video__svg--replay {
    left: 5.2%;
    top: 14px;
  }

  .video__svg--fullscreen {
    left: 88%;
    transform: translateX(83%);
    top: -4px;
  }
}

@media (min-width: @desktop-width) {
  .video {
    margin: 0;
    padding: 0;
    margin-bottom: 120px;
  }

  .video__svg--replay {
    left: 4.2%;
    top: 14px;
  }

  .video__svg--subtitles {
    left: 81.2%;
    transform: translateX(74%);
    top: 34px;
  }

  .video__svg--fullscreen {
    left: 90%;
    transform: translateX(83%);
    top: -6px;
  }
}
